<template>
  <v-content>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="6" v-if="hasRole('EXPERT')">
          <v-toolbar class="mb-1" color="primary" dense dark flat>
            <v-toolbar-title>General Info</v-toolbar-title>
          </v-toolbar>
          <v-simple-table>
            <template v-slot:default>
              <thead></thead>
              <tbody>
                <tr v-for="item in items" :key="item.key">
                  <td>{{ item.key }}</td>
                  <td>{{ item.value }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
import { mapGetters } from "vuex";
import axios from "axios";
export default {
  props: ["id"],
  data() {
    return {
      items: []
    };
  },
  computed: {
    ...mapGetters({
      hasRole: "auth/hasRole"
    })
  },
  mounted() {
    if (this.hasRole("EXPERT")) {
      this.getStudentInfo();
    }
  },
  methods: {
    getStudentInfo() {
      axios
        .get("/api/criterion/teacher/" + this.$store.state.auth.user.id)
        .then(value => {
          const student = value.data;
          this.items.push({ key: "Факультет", value: student.faculty });
          this.items.push({ key: "Кафедра", value: student.cathedra });
          this.items.push({ key: "Степень", value: student.degree });
        });
    }
  }
};
</script>

<style scoped>
td {
  border: 1px solid black !important;
}
</style>
