<template>
  <v-main>
    <v-data-table :headers="headers" hide-default-footer :items="items">
      <template v-slot:item="props">
        <tr v-for="sub in props.item.subCriteria" :key="sub.id">
          <td
            v-if="props.item.subCriteria[0] == sub"
            :rowspan="props.item.subCriteria.length"
          >
            {{ props.item.description }}
          </td>
          <td>{{ sub.description }}</td>
          <td>{{ sub.score }}</td>
          <td
            v-if="props.item.subCriteria[0] == sub && hasRole('ADMIN')"
            :rowspan="props.item.subCriteria.length"
          >
            <v-icon small class="mr-2" @click="editItem(props.item)">
              mdi-pencil
            </v-icon>
            <v-icon small @click="deleteItem(props.item)">
              mdi-delete
            </v-icon>
          </td>
          <td v-if="hasRole('EXPERT') || hasRole('GUEST')">
            <v-icon
              small
              class="mr-2"
              @click="editPoint(findPoint(sub.id), sub)"
            >
              mdi-pencil
            </v-icon>
            {{ (findPoint(sub.id) && findPoint(sub.id).points) || 0 }}
          </td>
          <td v-if="hasRole('EXPERT') || hasRole('GUEST')">
            {{
              sum(
                sub.score,
                (findPoint(sub.id) && findPoint(sub.id).points) || 0
              )
            }}
          </td>
        </tr>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="500px">
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on" v-if="hasRole('ADMIN')">
          Новый критерий
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="10" md="10">
                <v-text-field
                  v-model="editedItem.description"
                  label="Критерий"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="2" md="2">
                <v-icon @click="addSub()">
                  mdi-plus
                </v-icon>
              </v-col>
            </v-row>
            <v-row
              cols="12"
              sm="12"
              md="12"
              v-for="item in editedItem.subCriteria"
              :key="item.id"
            >
              <v-col cols="12" sm="8" md="8">
                <v-text-field
                  v-model="item.description"
                  label="Принцип начисления баллов"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="2" md="2">
                <v-text-field v-model="item.score" label="Баллы"></v-text-field>
              </v-col>
              <v-col cols="12" sm="2" md="2">
                <v-icon @click="removeSub(item)">
                  mdi-minus
                </v-icon>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">
            Отмена
          </v-btn>
          <v-btn color="blue darken-1" text @click="save">
            Сохранить
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="headline"
          >Вы действительно хотите удалить критерий?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeDelete">Нет</v-btn>
          <v-btn color="blue darken-1" text @click="deleteItemConfirm"
            >Да</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogEdit" max-width="240px">
      <v-card>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                <v-text-field v-model="point.points" label="Count">
                </v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeEdit">
            Отмена
          </v-btn>
          <v-btn color="blue darken-1" text @click="savePoint(point)">
            Сохранить
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-flex v-if="hasRole('EXPERT')" class="text-right">
    Summa: {{ summa }}
    </v-flex>
  </v-main>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import { mapGetters } from "vuex";
import axios from "axios";

export default {
  name: "Rating",
  props: ["id"],
  data: () => ({
    dialog: false,
    dialogDelete: false,
    dialogEdit: false,
    headers: [
      { text: "Критерий", value: "description" },
      { text: "Принципы начисления баллов", value: "SubCriteria" },
      { text: "Баллы", value: "score" }
    ],
    subHeaders: [
      { text: "Criteria", value: "description" },
      { text: "Score", value: "score" }
    ],
    items: [],
    editedIndex: -1,
    editedItem: {
      id: null,
      description: "",
      subCriteria: []
    },
    defaultItem: {
      id: null,
      description: "",
      subCriteria: []
    },
    points: [],
    point: {},
    summa: 0
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    ...mapGetters({
      hasRole: "auth/hasRole"
    })
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    }
  },

  mounted() {
    this.initialize();
    if (this.hasRole("ADMIN")) {
      this.headers.push({ text: "Действия", value: "actions" });
    }
    if (this.hasRole("EXPERT") || this.hasRole("")) {
      this.headers.push({ text: "Количество", value: "points" });
      this.headers.push({ text: "Итого", value: "sum" });
    }
  },

  methods: {
    sum(score, points) {
      return score * points;
    },

    initialize() {
      axios
        .get("/api/criterion")
        .then(value => (this.items = value.data))
        // eslint-disable-next-line no-unused-vars
        .catch(reason => {
          console.log("ERROR");
          // this.$toast.error("Failed to load data: " + reason);
        });
      this.getPoints();
      this.getSumma();
    },

    getSumma() {
      axios
        .get("/api/criterion/sum/" + this.id)
        .then(value => (this.summa = value.data))
        // eslint-disable-next-line no-unused-vars
        .catch(reason => {
          console.log("ERROR");
          // this.$toast.error("Failed to load data: " + reason);
        });
    },

    editPoint(point, sub) {
      this.point = point || {
        subCriterion: sub,
        points: 0
      };
      this.dialogEdit = true;
    },

    closeEdit() {
      this.dialogEdit = false;
    },

    savePoint(point) {
      axios
        .post("/api/criterion/point/" + this.id, point)
        // eslint-disable-next-line no-unused-vars
        .then(value => this.initialize())
        // eslint-disable-next-line no-unused-vars
        .catch(reason => {
          console.log("ERROR");
          // this.$toast.error("Failed to load data: " + reason);
        });
      this.dialogEdit = false;
    },

    getPoints() {
      axios
        .get("/api/criterion/points/" + this.id)
        .then(value => {
          this.points = value.data;
          this.summa = value.data.reduce(value, val2 => value + val2);
        })
        // eslint-disable-next-line no-unused-vars
        .catch(reason => {
          console.log("ERROR");
          // this.$toast.error("Failed to load data: " + reason);
        });
    },

    findPoint(subId) {
      return this.points.find(value => value.subCriterion.id == subId);
    },

    saveReq(item) {
      axios
        .post("/api/criterion", item)
        // eslint-disable-next-line no-unused-vars
        .then(value => this.initialize())
        // eslint-disable-next-line no-unused-vars
        .catch(reason => {
          console.log("ERROR");
          // this.$toast.error("Failed to load data: " + reason);
        });
    },

    editItem(item) {
      this.editedIndex = this.items.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.items.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      axios.delete("/api/criterion", { data: this.items[this.editedIndex] });
      this.items.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.items[this.editedIndex], this.editedItem);
      } else {
        this.items.push(this.editedItem);
      }
      this.saveReq(this.editedItem);
      this.close();
    },

    addSub() {
      this.editedItem.subCriteria.push({
        description: "",
        score: 0
      });
    },

    removeSub(item) {
      let editedIndex = this.editedItem.subCriteria.indexOf(item);
      this.editedItem.subCriteria.splice(editedIndex, 1);
    }
  }
};
</script>

<style scoped>
td {
  border: 1px solid rgba(50, 50, 50, 0.25) !important;
}
.v-data-table tbody tr:hover:not(.v-data-table__expanded__content) {
  background: transparent !important;
}
</style>
