<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <v-switch color="secondary" v-model="$vuetify.theme.dark"></v-switch>
      <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
        <span class="hidden-sm-and-down">RATING</span>
      </v-toolbar-title>
      <v-spacer />
      <v-btn text @click="logout" v-if="loggedIn">
        <v-icon>mdi-logout</v-icon>
        <span>Logout</span>
      </v-btn>
      <template v-slot:extension>
        <v-tabs align-with-title>
          <v-tab @click="$router.push('/rating/' + $store.state.auth.user.id)">Rating</v-tab>
          <v-tab @click="$router.push('/teacher/' + $store.state.auth.user.id)">Info</v-tab>
        </v-tabs>
      </template>
    </v-app-bar>
    <router-view />
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "App",

  props: {
    source: String
  },
  data: () => ({
    dialog: false,
    drawer: null
  }),
  computed: {
    ...mapGetters({
      loggedIn: "auth/loggedIn",
      hasRole: "auth/hasRole"
    })
  },
  methods: {
    logout() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/signin");
    }
  }
};
</script>
